@charset "utf-8";
/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
body {background-color: #fff;position: relative;}
section {padding-top: 60px;}
section > .row {margin-bottom: 10px;}
a { color:#000; }
a:hover { color:orangered;text-decoration:none; }
a.white { color:#fff; }
a.white:hover { color:#7eadd9 }
a.blue { color:#7eadd9; }
a.blue:hover { color:#049cd9;text-decoration:underline; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.yan { font-family:'微软雅黑'; }
.width-auto { width:auto !important; }
.task-draft { color:#666; }
.task-verify { color:orangered; }
.task-runing { color:blue; }
.task-success { color:green; }
.task-failure { color:#F60; }
.task-cancel { color:#222; }
.task-halt { color:#ce0007; }

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {min-width: 940px;padding-top: 40px;}
.jumbotron .inner {background: transparent url(http://wbz.weiqc.com/Public/images/poster/grid-18px.png) top center;padding: 45px 0;-webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);-moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.3);/*box-shadow: inset 0 10px 30px rgba(0,0,0,.3);*/}
.jumbotron h1,
.jumbotron p {margin-bottom: 9px;color: #fff;text-align: center;text-shadow: 0 1px 1px rgba(0,0,0,.3);}
.jumbotron h1 {font-size: 54px;line-height: 1;text-shadow: 0 1px 2px rgba(0,0,0,.5);}
.jumbotron p {font-weight: 300;}
.jumbotron .lead {font-size: 20px;line-height: 27px;}
.jumbotron p a {color: #fff;font-weight: bold;}

/* Specific jumbotrons
------------------------- */
/* main docs page */
.masthead {
background-color: #049cd9;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
background-image: -webkit-linear-gradient(#004D9F, #049cd9);
background-image: -moz-linear-gradient(#004D9F, #049cd9);
background-image: -o-linear-gradient(top, #004D9F, #049cd9);
background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */
}
/* supporting docs pages */
.subhead {
background-color: #767d80;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
background-image: -webkit-linear-gradient(#565d60, #767d80);
background-image: -moz-linear-gradient(#565d60, #767d80);
background-image: -o-linear-gradient(top, #565d60, #767d80);
background-image: -khtml-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565d60', endColorstr='#767d80', GradientType=0); /* IE8 and down */
}
.subhead .inner {padding: 36px 0 27px;}
.subhead h1,
.subhead p {text-align: left;}
.subhead h1 {font-size: 40px;}
.subhead p a {font-weight: normal;}


/* Footer
-------------------------------------------------- */
.footer {background-color: #eee;min-width: 940px;padding: 30px 0;text-shadow: 0 1px 0 #fff;border-top: 1px solid #e5e5e5;-webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);-moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);/*box-shadow: inset 0 5px 15px rgba(0,0,0,.025);*/}
.footer p {color: #555;}


/* Quickstart section for getting le code
-------------------------------------------------- */
.quickstart {
background-color: #f5f5f5;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
background-image: linear-gradient(#f9f9f9, #f5f5f5);
border-top: 1px solid #fff;
border-bottom: 1px solid #eee;
}
.quickstart .container {margin-bottom: 0;}
.quickstart .row {margin: 0 -20px;-webkit-box-shadow: 1px 0 0 #f9f9f9;-moz-box-shadow: 1px 0 0 #f9f9f9;box-shadow: 1px 0 0 #f9f9f9;}
.quickstart [class*="span"] {width: 285px;height: 117px;margin-left: 0;padding: 17px 20px 26px;border-left: 1px solid #eee;-webkit-box-shadow: inset 1px 0 0 #f9f9f9;-moz-box-shadow: inset 1px 0 0 #f9f9f9;box-shadow: inset 1px 0 0 #f9f9f9;}
.quickstart [class*="span"]:last-child {border-right: 1px solid #eee;width: 286px;}
.quickstart h6,
.quickstart p {line-height: 18px;text-align: center;margin-bottom: 9px;color: #333;}
.quickstart .current-version,
.quickstart .current-version a {color: #999;}
.quickstart h6 {color: #999;}
.quickstart textarea {display: block;width: 275px;height: auto;margin: 0 0 9px;line-height: 21px;white-space: nowrap;overflow: hidden;}


/* Special grid styles
-------------------------------------------------- */
.show-grid {margin-top: 10px;margin-bottom: 10px;}
.show-grid [class*="span"] {background: #eee;text-align: center;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;min-height: 30px;line-height: 30px;}
.show-grid:hover [class*="span"] {background: #ddd;}
.show-grid .show-grid {margin-top: 0;margin-bottom: 0;}
.show-grid .show-grid [class*="span"] {background-color: #ccc;}


/* Render mini layout previews
-------------------------------------------------- */
.mini-layout {border: 1px solid #ddd;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);box-shadow: 0 1px 2px rgba(0,0,0,.075);}
.mini-layout {height: 240px;margin-bottom: 20px;padding: 9px;}
.mini-layout div {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.mini-layout .mini-layout-body {background-color: #dceaf4;margin: 0 auto;width: 240px;height: 240px;}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {float: left;}
.mini-layout.fluid .mini-layout-sidebar {background-color: #bbd8e9;width: 90px;height: 240px;}
.mini-layout.fluid .mini-layout-body {width: 300px;margin-left: 10px;}


/* Topbar special styles
-------------------------------------------------- */
.topbar-wrapper {position: relative;height: 40px;margin: 5px 0 15px;}
.topbar-wrapper .topbar {position: absolute;margin: 0 -20px;}
.topbar-wrapper .topbar .topbar-inner {padding-left: 20px;padding-right: 20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

/* Topbar in js docs
------------------------- */
#bootstrap-js .topbar-wrapper {z-index: 1;}
#bootstrap-js .topbar-wrapper .topbar {position: absolute;margin: 0 -20px;}
#bootstrap-js .topbar-wrapper .topbar .topbar-inner {padding-left: 20px;padding-right: 20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
#bootstrap-js .topbar-wrapper .container {width: auto;}

/* Popover docs
-------------------------------------------------- */
.popover-well {min-height: 160px;}
.popover-well .popover {display: block;}
.popover-well .popover-wrapper {width: 50%;height: 160px;float: left;margin-left: 55px;position: relative;}
.popover-well .popover-menu-wrapper {height: 80px;}
img.large-bird {margin: 5px 0 0 310px;opacity: .1;}

/* Pretty Print
-------------------------------------------------- */
pre.prettyprint {overflow: hidden;}



/***  self style   ***/
.page-header { background-color:#E6E6FA !important; }
.page-header .span10 { float:right;min-height:70px !important;max-height:70px; }
.index_welcome { margin-right:20px;height:40px;clear:both;border-bottom:1px solid #ccc !important; }
.index_welcome .span7 { float:left;color:orangered; }
.index_welcome .span7 small { color:#333; }
.index_welcome .right { float:right;line-height:50px;color:#666;font-weight:normal; }
.index_nav_btn { padding:6px;clear:both;font-size:12px; }
.index_nav_btn a { color:#666;text-decoration: none; }
.index_nav_btn a:hover { color:#000;text-decoration:none; }
.index_nav_btn .thumbnail { padding:6px; }
.index_nav_btn .thumbnail + div { text-align: center; }

.first_zuo_bottom{position:relative;width:678px;height:452px;background:#fff;border:1px solid #B0C4DE;margin-bottom:29px;}
.first_zuo_tit{height:36px;background:url(http://wbz.weiqc.com/Public/images/poster/tit_bj.jpg) repeat-x;font-size:14px;line-height:36px;padding-left:8px;color:#F60;font-weight:bold;}
.frist_bottom{position:absolute;padding-left:10px;height:36px;line-height:36px;text-align:right;margin-top:3px;background:url(http://wbz.weiqc.com/Public/images/poster/tit_bottom.jpg) bottom repeat-x;font-size:13px;font-weight:bold;padding-right:6px;color:#666;left:0px;bottom:0;}
.frist_bottom span{color:#F00;}
.frist_bottom a:hover{text-decoration:underline;color:#f00;}
.first_table thead tr { background:url(http://wbz.weiqc.com/Public/images/poster/th_bg1.jpg) repeat-x; }
.first_table thead th { padding:8px !important; }
.first_table thead th.split { background:url(http://wbz.weiqc.com/Public/images/poster/table_thsep1.jpg) no-repeat right; }

.dash_table { vertical-align:top;border:1px solid #ccc;border-top:3px solid #4e9bcf;color:#565d60; }
.dash_table a{color:#174B73;}
.dash_table a:hover{text-decoration:underline;color:#C00;}
.dash_table td{border-bottom:1px dashed #d8d8d8;padding-left:5px;vertical-align:middle;line-height:18px;}
.dash_table thead tr {background: url("http://wbz.weiqc.com/Public/images/poster/list_bj.jpg") repeat-x scroll 0 0 transparent;font-size:14px;color:#414141; }
.first_table thead th,.dash_table thead th { padding:8px !important; }
.dash_table thead th.split { background:url(http://wbz.weiqc.com/Public/images/poster/table_thsep.jpg) no-repeat right; }
.list_header{ height:33px;margin:0 auto;border-top:1px #D8D8D8 solid;border-left:1px #D8D8D8 solid;border-right:1px solid #D8D8D8;background:url(http://wbz.weiqc.com/Public/images/poster/list_bj.jpg) repeat-x;padding:5px 8px 0px;}
.choice_pirce{height:34px;background:#f7f7f7;padding-top:9px;border-top:1px solid #ddd;}
.choice_pirce p{line-height:45px;}
.choice_pirce ul li{float:left;margin-left:5px;margin-top:5px;display:inline;}
.choice_pirce ul .li_tag{padding:0px 0px 0px 5px;background:url(http://wbz.weiqc.com/Public/images/poster/tag_bg.jpg) no-repeat left bottom;height:24px;line-height:24px;float:left;}
.choice_pirce ul .li_tag span{background:url(http://wbz.weiqc.com/Public/images/poster/tag_bg.jpg) no-repeat right bottom;display:block;padding:0px 5px 0px 0px;height:24px;line-height:24px;float:left;}
.choice_pirce ul .li_tag span a{margin-left:2px;cursor:pointer;}
.choice_pirce ul .li_tag span a:hover{color:#999;}
.choose_cart_mini,.choose_cart { top:45px;right:5px;left:auto; }
.choose_cart { display:none;width:260px;height:320px; }
#selected_weibo td { padding:4px !important; }

.first_you{width:233px;border:1px solid #D3D3D3;}
.first_you_top{width:225px;background:url(http://wbz.weiqc.com/Public/images/poster/b1.png) repeat-x;height:36px;line-height:36px;padding-left:8px;font-size:16px;font-family:'华文细黑';color:#F30;}
.first_you_xx{width:230px;background:url(http://wbz.weiqc.com/Public/images/poster/bjbj1.png) repeat-x bottom #fff;padding-bottom:5px}
.first_you_top a:hover{text-decoration:underline;}
.first_you_two{width:233px;padding-top:7px;overflow:hidden}
.first_you_two p span{color:#f00}
.first_you_two img{display:block;float:left;padding-left:10px;padding-right:7px;margin-top:8px}
.first_you_two .qian{display:block;float:left;width:120px;height:40px;line-height:40px;font-size:16px;}
.first_you_two .success{ padding:5px;font-size:15px; }
.cz_btn{width:213px !important;height:42px !important;border:none;background:url(http://wbz.weiqc.com/Public/images/poster/cz.gif) no-repeat;margin-left:10px;margin-top:5px;color:#fff;font-size:20px;font-family:'微软雅黑';}
.cz_btn:hover{background:url(http://wbz.weiqc.com/Public/images/poster/cz1.jpg) no-repeat;}
.list_text{ width:218px;padding-top:8px !important;_padding-top:10px !important;}
.list_text li a{line-height:24px;}
.list_text li a:hover{text-decoration:underline;}

.sitemap { margin-top:-15px;height:20px;line-height:20px;color:#666; }
.sitemap .gt { display:inline;padding:0px 4px;font-family:'微软雅黑'; }
.sitemap a { color:#39445a; }
.sitemap a:hover { color:orangered; }
.sitemap b { color:#333; }

.alert-title span { font-size:24px;font-weight:bold; }
.first_tabs .active { font-weight:bold;font-size: 14px; }
.first_tabs .active a { color:orangered; }

/*步骤一*/
.bz1{width:935px;height:31px;line-height:31px;font-size:20px;background:url(http://wbz.weiqc.com/Public/images/poster/bz1.jpg) no-repeat;}
.bz1 span{display:block;float:left;}
.bz1 span a{color:#999;}
.bz_a1{padding-left:105px;color:#999;}
.bz_a2{color:#999;padding-left:220px;}
.bz_a3{color:#999;padding-left:200px;}
/*步骤一*/

.task_show { margin:20px auto; }
.task_show .span3 { margin-left:10px; } 
.task_show .span8 { margin-left:10px;padding-left:10px; }

.min_menu { margin:0px;border:0px; }
.min_menu a.dropdown-toggle { color:#F60;padding:2px 4px;line-height:18px;margin:0px;border:0px;height:18px;background-position:right;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px; }
.min_menu a.dropdown-toggle:hover { border:1px solid #999; }
.min_menu a.dropdown-toggle:after { content:'';margin-top:8px; }
.min_menu li.open a.dropdown-toggle { border:1px solid #999;border-bottom: 0px;background:#999;color:fff;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0; }
.min_menu ul.dropdown-menu { top:22px;text-align:left !important;min-width:100px;padding:0px; }
.min_menu ul.dropdown-menu li a { padding:3px 8px;color:#666; }
.min_menu ul.dropdown-menu li a:hover { color:orangered;text-decoration:none; }
.min_menu ul.dropdown-menu .divider { margin:2px; }

/*在线支付开始*/
.pay_online{}
.step,.step1{height:52px;background:url(http://wbz.weiqc.com/Public/images/poster/step_1.jpg) no-repeat;width:540px;line-height:52px;font-size:18px;color:#999;margin:0 auto auto auto;}
.step1{background:url(http://wbz.weiqc.com/Public/images/poster/step_2.jpg) no-repeat;height:53px;}
.pay_online .comname{background:url(http://wbz.weiqc.com/Public/images/poster/pay_bg.jpg) repeat-x;padding-left:100px;padding-top:20px}
.pay_online .comname p{font-size:18px;line-height:35px;}
.pay_online .comname p span{color:#fff;background:#d90000;padding:3px 20px;height:30px;}
.banklist{border:1px dashed #cccccc;padding:20px 0px 10px 10px;;overflow:hidden;width:670px;margin-left:130px;margin-top:20px;}
.banklist input{vertical-align:middle;float:left;margin-top:8px;display:block;width:13px;}
.banklist li{float:left;padding-left:5px;margin-right:20px;margin-bottom:20px;width:143px}
.banklist a{width:123px;height:30px;border:1px solid #cccccc;display:block;cursor:pointer;float:right;}
.banklist .bank1{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -40px;}
.banklist .bank2{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -80px;}
.banklist .bank3{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -120px;}
.banklist .bank4{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -160px;}
.banklist .bank5{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -200px;}
.banklist .bank6{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -240px;}
.banklist .bank7{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -280px;}
.banklist .bank8{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -320px;}
.banklist .bank9{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -360px;}
.banklist .bank10{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -400px;}
.banklist .bank11{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -440px;}
.banklist .bank12{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -480px;}
.banklist .bank13{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -520px;}
.banklist .bank14{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -560px;}
.banklist .bank15{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -600px;}
.banklist .bank16{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -640px;}
.banklist .bank17{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -680px;}
.banklist .bank18{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -720px;}
.banklist .bank19{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -760px;}
.banklist .bank20{background:url(http://wbz.weiqc.com/Public/images/poster/bank.png) no-repeat 8px -800px;}
.nomargin_right{margin-right:0px;}
.nomargin_bottom{margin-bottom:0px;}
.com_info{ padding-bottom:0px;padding:4px 10px;}
.com_info table td{font-size:12px;line-height:24px;padding:5px 10px;}
.com_info strong {font-size:13px; padding:3px 0px 3px 5px;margin-right:8px; }
.com_info h2{color:#f73e05;}
.input_money {background:#f2f2f2;font-size:18px;color:#fff;margin:0px 0px 0px 0px;padding:10px;}
.account_info{padding-left:10px;font-size:16px;color:#1370B3;background:url(http://wbz.weiqc.com/Public/images/poster/nav_all.jpg) no-repeat 0px bottom;height:auto}
.recharge_bank{background:#f8f8f8;padding-top:15px;border-top:2px solid #dddddd;padding-bottom:40px;}
.recharge_bank p{padding-bottom:20px;text-indent:227px}
.recharge_bank ul{width:540px;margin:0 auto}
.recharge_bank ul input{float:left;width:13px;margin-top:10px}
.recharge_bank ul li{text-align:left;padding-top:10px;padding-bottom:10px;margin-bottom:25px;line-height:21px;height:50px;zoom:1;list-style:none;}
.recharge_bank ul .li1{background:url(http://wbz.weiqc.com/Public/images/poster/pay_kind.gif) no-repeat 20px 0px;}
.recharge_bank ul .li2{background:url(http://wbz.weiqc.com/Public/images/poster/pay_kind.gif) no-repeat 20px -85px;}
.recharge_bank ul .li3{background:url(http://wbz.weiqc.com/Public/images/poster/pay_kind.gif) no-repeat 20px -160px;}
.recharge_bank ul span{float:right;width:380px;display:inline-block;}
/*在线支付结束*/

.table_title { height:30px;line-height:30px;margin-left:2px; }
.table_title span { border-left: 4px solid orangered;color: orangered;font-family: '微软雅黑','宋体';font-size: 16px;font-weight: normal;padding-left: 10px; }

.small-btn { padding:1px 5px !important; font-size: 12px !important; }
button span.icon { display:block;float:left;width:16px;height:16px;margin-right:4px;background-position:0px 0px;background-repeat:no-repeat; }

.no-border,.no-border tr,.no-border td { border:0px; }
.no-border td { padding:15px 15px 5px; }
.default-cursor { cursor: default !important; }

.auction-auction { color:#F89406;font-weight:bold; }
.auction-assess { color:#C43C35;font-weight:bold; }
.auction-runing { color:orangered;font-weight:bold; }
.auction-finish { color:green;font-weight:bold; }
.auction-failure { color:#666;font-weight:bold; }
.auction-cancel { color:#666;font-weight:bold; }


.arrows_asc,.arrows_desc,.arrows_all { display:inline-block;width:7px;height:10px;background-image:url(http://wbz.weiqc.com/Public/images/arrows.png);margin-left:3px; }
.arrows_all { background-position: 0px 0px; }
.arrows_asc { background-position: 0px -22px; }
.arrows_desc { background-position: 0px -44px; }

#notice_lists { position:absolute;right:0px;top:35px;width:445px;height:24px;overflow:hidden;background: url(http://wbz.weiqc.com/Public/images/notice.png) no-repeat;}
#notice_lists li { padding-left:50px;width:390px;clear:both;height:24px;}
#notice_lists li a { padding:0px;margin:0px;height:24px;line-height:20px; }

.page_style{background:url("http://wbz.weiqc.com/Public/images/poster/list_bj.jpg") repeat-x scroll 0 0 transparent;height:36px;border:1px solid #eeeeee;}
.page_style .page_count{float:left;line-height:36px;margin-left:20px;}
.page_style .pagination{float:right;margin:0px;}
.page_style .pagination ul{border: none;margin-right:20px;}
.page_style .pagination a{line-height: 38px;border:none;padding:0 12px;}
.page_style .pagination .prev a{background:url("http://wbz.weiqc.com/Public/images/uppage.png") no-repeat left center;padding:0 14px 0 16px;}
.page_style .pagination .next a{background:url("http://wbz.weiqc.com/Public/images/downpage.png") no-repeat right center;padding:0 16px 0 14px;}
.page_style .pagination a:hover,.page_style  .pagination .active a {background: url("http://wbz.weiqc.com/Public/images/page_number_bg.gif") no-repeat 60% 60%;}
.page_style .pagination .page_change a:hover{background:url("http://wbz.weiqc.com/Public/images/page_change.gif") no-repeat center;}
.page_style .pagination .prev a:hover{background:url("http://wbz.weiqc.com/Public/images/uppage2.png") no-repeat left center;}
.page_style .pagination .next a:hover{background:url("http://wbz.weiqc.com/Public/images/downpage2.png") no-repeat right center;}