@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
body{
	background:#fff;
	font-size:12px;
	font-family:Microsoft YaHei;
	background:#fff;
}

body,div,p,table,tr,th,td,form,fieldset,input,textarea,fieldset,blockquote,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
	margin:0;
	padding:0
}

dl,ol,ul{
	list-style:none;
}

a img{
	border:none;
	list-style:none;
}

a{
	text-decoration:none;
	color:#414141;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
.clear{
	float:none;
	clear:both;
}
.container{
	width:962px;
	margin:auto;
	z-index:9999;
	min-height:700px;
   _height:expression(this.scrollHeight <700 ? "700px" : "auto");
}

.header{
	background:url(http://qudao.weiboyi.com/img/head_bg.jpg) repeat-x;
	height:172px;
	width:100%;
}

.head_inner,.footer_inner{
	width:962px;
	margin:0 auto;
	}
.hwai{
	 height:44px;
	 margin:0 auto;
	 clear:both;
	 line-height:44px;
	 padding-top:0px!important;
}
.hwai li{
	float:left;
	line-height:44px;
}
.hwai1{
	width:958px;
	height:40px;
	margin:0 auto;
	line-height:40px;
	clear:both;
	padding-top:40px;
}

.hwai a{
	color:#72716F;
}

.manage{
	background:url(http://qudao.weiboyi.com/img/marange.jpg) no-repeat;
	position:absolute;
	height:140px;
	width:30px;
	top:239px;
	right:-24px;
}
.logo{
	width:338px;
	padding-top:10px;
	float:left;
}
.user_info{
	background:url(http://qudao.weiboyi.com/img/user_info_bg.jpg) no-repeat;
	width:338px;
	float:right;
	padding-top:22px;
	text-align:right;
	color:#2276b3;
	height:67px;
	margin-right:8px;
	display:inline;

	
}
.user_info ul li{
	float:right;
	padding:0px;
	height:22px;
	line-height:22px;
	}
.user_info ul li.li1{
	background:url(http://qudao.weiboyi.com/img/now.jpg) no-repeat right;
	height:22px;
	line-height:22px;
	padding:0px 8px 0px 0px;
	display:block;
	color:#f00;
	cursor:pointer;
	}
.user_info ul b{
	display:block;
	height:22px;
	float:left;
	line-height:22px;
	padding:0px 0px 0px 8px;
	background:url(http://qudao.weiboyi.com/img/now.jpg) no-repeat left;
	font-weight:normal;
	cursor:pointer;
	}
.user_info a{
	color:#2276b3
}
.user_info a:hover{
	text-decoration:underline;
}
.user_info .usename{
	color:#ed2f00
}
.user_info .sep{
	color:#9ad4f3;
	padding:0 5px
}


.sub_nav{
	clear:both;
	line-height:33px;
	vertical-align:top;
	position:absolute;
	display:none;
	width:125px;
	z-index:99999999999;
	visibility:visible;
	margin-top:0px!important;
	padding-right:2px;
	_margin-top:-2px;
	background:url(http://qudao.weiboyi.com/img/nav_bg.gif) -134px bottom no-repeat;
	padding-bottom:3px;
}


.sub_nav li{
	text-align:center;
	float:none;
	display:block;
	background:url(http://qudao.weiboyi.com/img/nav_bg.gif) repeat-y 0px;
    width:125px;
    vertical-align:bottom;
}


#nav2-3{
	margin-left:250px;
}

#nav2-4{
	margin-left:500px;
}

#nav2-5{
	margin-left:375px;
	padding-right:1px;
}

#nav2-7{
    margin-left:768px;
   /* padding-right:1px;*/
}

.sub_nav li a{
	font-size:16px;
	display:block;
	font-family:Microsoft YaHei;
	height:38px;
	line-height:38px;
	cursor:pointer;
	color:#666;
	width:122px;
}

.sub_nav li a:hover{
	background:#F27B03;
	height:38px;
	color:#fff;
}






.nav li{
	float:left;

}

.nav li a{
	width:125px;
	font-family:Microsoft YaHei;
	display:block;
	text-align:center;
	background:url(http://qudao.weiboyi.com/img/nav_bg.jpg) no-repeat -128px 1px;
	height:38px;
	line-height:38px;
	font-size:16px;
	color:#000;
}

.nav li a:hover{
	background:url(http://qudao.weiboyi.com/img/nav_bg.jpg) no-repeat 0px 1px;
	color:#fff;
}

.nav li .org{
	background:url(http://qudao.weiboyi.com/img/nav_bg.jpg) no-repeat 0px 1px;
	color:#fff;
}




.page_position{
	height:44px;
	line-height:44px;	
	color:#333;
	overflow:hidden;
}
.page_position_index{
		background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 0px 15px;
        padding-left:18px;
		line-height:45px;
	}
.index_left{
	padding-top:9px
}
.index_right{
	width:236px;
	float:right;
	padding-top:20px
}
.index_left .tip{
	font-size:14px;
	color:#72716f;
}
.index_left .tip .user{
	font-size:22px;
	color:#ff6501;
	font-family:Microsoft YaHei;
}
.wait_order{
	clear:both;
	padding:0px 1px 0px 1px;
	border:1px solid #faab70;

}


.index_left h2{
	color:#F63;
	font-size:20px;
	font-weight:normal;
	line-height:23px;
	font-family:Microsoft YaHei;
}

.index_left h2 a{
	float:right;
	font-size:12px;
	margin-right:3px;
	font-weight:normal;
	
}

.index_left h2 a:hover{
    color:#ff6501;
    text-decoration:underline;
}

.yiyi{
	text-decoration:underline;
	color:#F00;
}



.dash_table ,.dash_table_content{
	height:37px;
	vertical-align:middle;
	overflow:hidden;
	line-height:18px;
	width:100%;
	color:#333;
	clear:both;
	word-wrap: break-word;
	word-break:break-all;
    font-family:Microsoft YaHei;
}

.dash_table th{
	background:#fffbe0;
	height:30px;
	line-height:29px;
	font-size:14px;
	color:#414141;
	border-bottom:1px solid #fdbf90;
	border-top:1px solid #fdbf90;
	padding-left:3px;
	font-family:Microsoft YaHei;
}

.main table th span, .dash_table th span{
	display:block;
	background:url(http://qudao.weiboyi.com/img/table_thsep.jpg) no-repeat right
}
.dash_table td{
	border-bottom:1px dashed #d8d8d8;
	height: 37px;
    line-height: 18px;
    padding-left: 5px;
    vertical-align: middle;
}

.line_none1 td{
	border-bottom:none;
}

.line_none td{
	border-bottom:none;
}

.dash_table th{
	padding-left:5px;
}

.my_order{
	padding:0px 1px 0px 1px;
	border:1px solid #fdbf90;

}
.my_order_h2{
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat left -32px;
	padding-left:20px;
	margin-top:8px
}
.my_order .bottom{
    bottom: 0;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    left: 0;
    line-height: 36px;
    margin-top: 3px;
    padding-right: 6px;
    text-align: right;
    width: 100%;
}
.zhanghu_info{
	vertical-align:bottom;
	width:235px;
	background:url(http://qudao.weiboyi.com/img/index_rightbottom.gif) no-repeat bottom;
	height:150px;
	overflow:hidden
}
.zhanghu_info_top{
	background:url(http://qudao.weiboyi.com/img/index_rightbg1.gif) no-repeat left bottom;
	vertical-align:bottom;
	height:8px
}
.zhanghu_info_content{
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	vertical-align:top;
	background:#fff;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
}
.zhanghu_info_content img{
	float:left;
	margin-right:10px
}
.zhanghu_info_content span{
	float:left;
}
.zhanghu_info_content span span{
	padding:4px 5px;
	background:#ff0000;
	color:#fff;
}
.zhanghu_info_content .link{
	font-size:14px;
	background:#4397d4;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	clear:both
}
.zhanghu_info_content .link a{
	color:#fff;
	padding:0 5px
}
.zhanghu_info_content .link a:hover{
	text-decoration:underline;
}
.index_right_box{
	background:url(http://qudao.weiboyi.com/img/index_rightbottom.gif) bottom no-repeat #fff;
	margin-top:10px;
	width:235px;
	overflow:hidden
}
.index_right_box a:hover{
	color:#ff3300;
	text-decoration:underline;
	
}
.index_right_box ul{
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	vertical-align:top;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px
}
.index_right_box ul li{
	line-height:25px;
	background:url(http://qudao.weiboyi.com/img/gege.jpg) no-repeat left;
	padding-left:15px
}
.index_right_box_middle{
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	vertical-align:top;
	background:#fff;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden
}
.index_right_box .title{
	background:url(http://qudao.weiboyi.com/img/index_rightbg.gif) no-repeat 0px -44px;
	vertical-align:bottom;
	height:36px;
	line-height:36px;
	padding-left:10px
}

.index_right_box h2{
	color:#ff3300;
	font-size:14px;
}
.index_notice h2{
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 0px -80px;
	padding-left:25px
}
.index_help h2{
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 0px -133px;
	padding-left:25px
}
.index_help .search{
	height:25px;
	line-height:25px;
	background:none;
	padding:1px;
	border-top:1px dashed #dddddd;
	padding-top:10px;
	margin-top:10px
}
.index_help input{
	vertical-align:middle
}
.index_help .input_txt{
	border:1px solid #9b9b9b;
	height:20px;
	width:120px
}
.index_help .input_btn{
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 0px -190px;
	width:44px;
	border:1px solid #dbdbdb;
	padding:1px;
	margin-left:5px;
	height:22px;
}
.footer{
	width:100%;
	background:url(http://qudao.weiboyi.com/img/foot_bj.jpg) repeat-x;
	border-top:1px solid #d1cece;
	height:54px;
	clear:both;
	margin-top:10px;
	text-align:left;
	color:#919090;
	line-height:54px
}

.footer .a_first{
	padding:0 10px;
	color:#919090;
}

.footer .a_last{
	padding-right:0px;
	padding-left:10px;
	color:#919090;
}

  .main{
	  clear:both;
	  padding:8px 15px 0 15px;
	  width:958px;
	  margin:0 auto;
	  float:none;
	  vertical-align:top;
	  min-height:700px;
   _height:expression(this.scrollHeight <700 ? "700px" : "auto");
}
.main_inner{
	width:883px;
	padding:0 34px 20px 35px;
	background:#fff;
	height:auto!important;   
    height:500px;
	min-height:800px;  

}

.order_all{
	height:30px;
	font-size:20px;
	color:#F63;
	font-family:Microsoft YaHei;
}

.main_list{
    padding:0 9px 20px 9px;
	width:935px;
	background:url(http://qudao.weiboyi.com/img/bj_zz.jpg) repeat-y;
	height:auto!important;   
	z-index:999;
	overflow:hidden;
	border-bottom:1px solid #94cef4;
    min-height:600px;
   _height:expression(this.scrollHeight < 600 ? "600px" : "auto");
}



.main_list h3{
	font-size:14px;
	color:#666;
	width:900px;
	border-bottom:1px dashed #CCC;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:7px;
}

.main_list p{
	padding-top:3px;
	padding-bottom:1px;
	margin:0 auto;
	color:#666;
	line-height:22px;
}

/*

.btn_header ul li{
	width:96px;
	height:35px;
	float:left;
	text-align:center;
	margin-right:3px;
}

.btn_header ul li a{
	width:96px;
	height:35px;
	display:block;
	margin-right:3px;
	float:left;
	font-size:16px;
	color:#666;
	font-family:'寰蒋闆呴粦','瀹嬩綋';
	background:url(http://qudao.weiboyi.com/img/gray_bj.jpg) no-repeat bottom;
}

.btn_header ul li a:hover{
	width:96px;
	height:35px;
	padding-top:13px;
	background:url(http://qudao.weiboyi.com/img/red_bj.gif) no-repeat;
	color:#fff;
	font-size:18px;
	margin-right:3px;
	font-family:'寰蒋闆呴粦','瀹嬩綋';
}

.btn_header ul li .orage_bj{
	width:96px;
	height:22px;
	padding-top:13px;
	background:url(http://qudao.weiboyi.com/img/red_bj.gif) no-repeat;
	color:#fff;
	font-size:18px;
	margin-right:3px;
	font-family:'寰蒋闆呴粦','瀹嬩綋';
}*/

.btn_header{
	width:927px;
	height:35px;
	margin:0 auto;
}

.btn_header ul li{
	float:left;
	width:96px;
	height:35px;
	text-align:center;
	line-height:35px;
	background:url(http://qudao.weiboyi.com/img/red_bj.jpg) no-repeat bottom;
	margin-right:5px;
}

.btn_header ul li a:hover{
	display:block;
	background:url(http://qudao.weiboyi.com/img/redo_bj.jpg) no-repeat bottom;
	color:#fff;
	width:96px;
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:16px;
}

.btn_header ul li a{
	font-size:14px;
	font-family:Microsoft YaHei;
}

.btn_header ul li .orage_bj{
	width:96px;
	height:35px;
	display:block;
	background:url(http://qudao.weiboyi.com/img/redo_bj.jpg) no-repeat bottom;
	color:#fff;
	font-size:16px;
	font-family:Microsoft YaHei;
}

.base{
	background:url(http://qudao.weiboyi.com/img/hx.jpg) no-repeat left bottom ;
	font-size:18px;
	color:#F63;
	margin-bottom:20px;
	margin-top:20px;
	height:30px;
	overflow:visible;
	font-family:'微软雅黑','宋体';
}
.registered{
	padding-left:35px;
	padding-right:34px;
	overflow:hidden;
	_height:500px;
}

.registered table{
	margin-left:90px
}
.registered table td{
	height:40px;
}
.registered .input_txt,.registered textarea{
	width:245px
}
.registered .input_txt, .registered  textarea{
	background:none;
	border:none;
	height:25px;
	line-height:25px;
    background:#FFFFFF;
    border: 1px solid #949494;
	font-family:Arial, Helvetica, sans-serif;
}
.b_btn_bg1{
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/lan_newg1.gif) no-repeat;
	height:38px;
	font-size:16px;
	color:#fff;
	width:121px;
	font-family:Microsoft YaHei;
}
.registered .notice{
	background:#ffffcc;
	border:1px solid #ffcc99;
	line-height:21px;
	display:inline-block;
	padding:0px 4px;
}
.registered .alarm{
	background:#ffeaea;
	border:1px solid #ff0000;
	color:#ff0000;
	line-height:21px;
	display:inline-block;
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 4px -229px #ffeaea;
	padding-left:27px;
	padding:0px 4px 0px 20px;
}
.mingzi{
	font-size:14px;
	font-family:Microsoft YaHei;
}




.date_txt{
	background:url(http://qudao.weiboyi.com/img/icon.gif) no-repeat 150px -254px;
	width:170px;
	cursor:pointer;
	height:25px;
	line-height:25px;
	border:1px solid #dddddd;
	background-color:#fff;
	vertical-align:middle;

}


.input_txt{
	border:1px solid #dddddd;
	vertical-align:middle;
	height:25px;
	line-height:25px;
	color:#999;
	padding-left:3px;
	color:#999;
}

.active_list{
	padding:0px 0px;
	overflow:hidden;
	margin:0px 4px;
	
}

.list_header{
	height:35px;
	border:1px solid #e8e7e4;
	border-bottom:none;
	background:url(http://qudao.weiboyi.com/img/list_bj.jpg) repeat-x bottom;
	clear:both;
	position:relative;
	padding-left:5px;
	padding-top:8px;
	_padding-top:6px;
}
.active_list .add_btn{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -116px;
	width:121px;
	height:48px;
}

.active_list .btn_search{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px 0px;
	width:33px;
	height:27px;
	vertical-align:middle;
}

.active_list .btn_chazhao{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -74px;
	vertical-align:middle;
	width:27px;
	height:27px;
}

.type{
	background:url(http://qudao.weiboyi.com/img/list_bj.jpg) repeat-x bottom;
	height:35px;
	width:904px;
	line-height:35px;
	padding-left:10px;
	padding-right:13px;
	
}

.type ul li{
	float:left;
}


.order_ttt{
	width:104px;
	height:25px;
	border:1px solid #DFDFDF;
	background:#FAFAFA;
	color:#999;
	padding-left:4px;
	line-height:25px;
}

.dj_btn{
	width:27px;
	height:27px;
	border:none;
	line-height:27px;
	background:none;
	background:url(http://qudao.weiboyi.com/img/dianji.jpg) no-repeat;
	margin-left:-5px;
	cursor:pointer;
}

.mr_btn{
	width:126px;
	height:27px;
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/mr.png) no-repeat;
}


.help_box p{
	padding-left:18px
}
.page_all{
	background:#f5f5f5;
	height:40px;
	margin:21px 0px;
	border-bottom:1px solid #e9e6e6;
	padding-right:10px;
}

.page_sep{
	height:40px;
	background:#F5F5F5;
}

.page_sep li{
	float:left;
	padding-right:4px;
	line-height:28px;
	padding-top:5px;
}

.page_sep li a{
	border:1px solid #ddd;
	padding:0px 10px 0px 10px;
	display:block;
	float:left;
	background-color:#fff;
	color:#008cd7;
}

.page_sep li a:hover{
	border:1px solid #fc7d39;
	padding:0px 10px 0px 10px;
	display:block;
	float:left;
	background-color:#fff7ea;
	color:#fc7d39;
}

.page2{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -436px;
	width:66px;
	height:30px;
	display:block;
	float:left;
	border:none
}

.page_sep .page2:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -288px;
}

.page1{
	float:left;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) 0px -1958px;
	width:67px;
	height:30px;
	padding:0px;	
}

.page_sep .page1:hover{
		background:url(http://qudao.weiboyi.com/img/btn.gif) 0px -1810px;
		width:67px;
		height:30px
}



.div_order, .div_order_usualbolg{
	position:absolute;
	border:1px solid #dddddd;
	background:#fff;
	border-bottom:none;
	width:175px;
}

.div_order ul{
	list-style:none;
}
.div_order li{
	border-bottom:1px solid #f2f2f2;
	line-height:25px;
	height:25px;
	padding-bottom:1px;
	display:block;
	float:none;
	background:#fff;
	overflow:hidden;
	vertical-align:top;
}
.div_order_usualbolg li{
	padding:none
}
.div_order .or_money_down{
       background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -37px;
       vertical-align:bottom;
}
.div_order .or_money_up{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -3px;
	vertical-align:up;
}
#or_money_up_li{
	margin-top:0px;
	_margin-top:-4px;
}
.div_order .or_money_down{
    background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -37px;
	 vertical-align:bottom;
}
.div_order .time_up{
	 background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -320px;
}
.div_order .time_down{
	 background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -362px;
}
.div_order .num_up{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -230px;
}
.div_order .num_down{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -274px;
}

.div_order .avgprice_down{
    background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -495px;
}
.div_order .avgprice_up{
    background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -459px;
}

.div_order .save_up{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -143px;
}
.div_order .save_down{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -189px;
}
.div_order .hot_up{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -73px;
}
.div_order .hot_down{
	background:url(http://qudao.weiboyi.com/img/order.gif) no-repeat -0px -420px;
}
.div_order li a{
	display:block;
	color:#999;
	padding-left:28px;
	text-align:left

        
}
.div_order li a:hover{
	background-color:#f8f8f8;
	color:#F60;
}
.div_order li .a_last{
	background:#f2f2f2;
}

.div_order .lb_one{
	padding-left:10px;
}

.div_order .lb_two{
	padding-left:10px;
}

.active_detail{
	position:absolute;
	border:3px solid #dddddd;
	background:#fff;
	left:100px;
	top:0px;
	width:200px;
	line-height:18px;
	padding:5px;
	height:200px;
	word-wrap: break-word;
	word-break:break-all;

}
.active_detail img{
   position:absolute; 
   left: -13px;
   top: 12px; 
   z-index:9999;
}

.page_tab{
	overflow:hidden;
	padding-top:15px
}
.page_tab h1{
	font-size:24px;
	text-align:center;
	color:#efa301;
	font-weight:normal;
	height:49px;
	line-height:49px;
			 }
.page_tab .h1{
background:url(http://qudao.weiboyi.com/img/tab_tie.gif) no-repeat 0px 0px;
z-index:0


}
.yingguang{
	position:absolute;
	right:10px;
	top: -40px;
}
.page_tab h1 span{
	color:#f00;
}
.page_tab .menu{
	background:url(http://qudao.weiboyi.com/img/tab_tie.gif) no-repeat 0px -62px;
	height:53px;
	line-height:53px;
	position:relative;
	overflow:visible;
	
}
.page_tab .menu li{
	float:left;
	padding:0 10px;
	font-size:16px;
	background:url(http://qudao.weiboyi.com/img/nav_line.jpg) right no-repeat -1px
}
.page_tab .menu li a{
	display:block;
	width:85px;
	text-align:center
}
.page_tab .menu li a:hover{	
    background:url(http://qudao.weiboyi.com/img/hgg_03.gif) no-repeat 0 10px;
	float:left;
	height:51px;
	color:#fff;
	
	}
.choice_pirce{
	background:#f7f7f7;
	border-top:1px solid #ddd;
	padding-top:9px;
	padding-left:10px;
	padding-bottom:9px;
	position:relative;
	z-index:900
}
.choice_pirce input{
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:2px
}
.page_tab .search{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px 0px;
	width:33px;
	height:27px;
	vertical-align:middle;
}
.chazhao{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat -1px -74px;
	vertical-align:middle;
	width:27px;
	height:27px;
}

.lookfor{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/look_for.jpg) no-repeat -2px;
	vertical-align:middle;
	width:47px;
	height:27px;
	cursor:pointer;
}
.lookfor_1{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/look_for.jpg) no-repeat 0px;
	vertical-align:middle;
	width:47px;
	height:27px;
}
.btn_select{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1770px #fff;
	width:27px;
	height:27px;
	border-left:none;
	vertical-align:middle;
}
.page_tab .kind{
	width:173px;
	position:absolute;
	background:#fff;
	border:1px solid #dddddd;
	z-index:9999;
	padding-left:2px
	
}

.page_tab .kind a{
	border-bottom:1px solid #dddddd;
	width:85px;
	text-align:center;
	display:block;
	float:left;
	height:30px;
	line-height:30px
}

.page_tab .kind a:hover{
	background:#f2f2f2;
}

.page_tab .time{
		position:absolute;
		width:66px;
		background:#fff;
		border:1px solid #dddddd;
	
}

.page_tab .time a{
	display:block;
	text-align:center;
	border-bottom:1px solid #dddddd;
}

.page_tab .time a:hover{
	background:#f2f2f2;
}







.left_tt{
	font-size:14px;
	font-family:Microsoft YaHei;
	color:#333;
}

.right_tt{
	font-family:Microsoft YaHei;
	color:#999;
	font-size:14px;
}


















.block{
	padding:2px 9px 2px 9px;
	display:block;
	float:right;
	height:28px;
	line-height:28px;
	background:#f27b05;
	color:#fff;
	border:1px solid #F60;
	font-size:14px;
	font-weight:bold;
}











.qx{
	border:none;
	background:none;
	width:121px;
	height:39px;
}

.qx:hover{
	border:none;
	background:none;
	width:121px;
	height:39px;
}

.fs{
	border:none;
	background:none;
	width:121px;
	height:39px;
}

.fs:hover{
	border:none;
	background:none;
	width:121px;
	height:39px;
}








.yzm{
	height:40px;
	padding-left:190px;
}

.yzm:hover{
	text-decoration:underline;
	color:#C60;
}


.a_btn{
	width:121px;
	height:57px;
	display:block;
	margin-top:15px;
}
.a_btn input{
	background:none;
	border:none;
	width:120px;
	height:38px;
}
.a_btn_send{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1258px;
	float:left
}
.a_btn_send:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1148px;
}
.a_btn_cancle{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1662px;
	float:left;
	margin-left:10px;
	display:inline
}
.a_btn_cancle:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1554px;
}
.a_btn input{
	cursor:pointer
}
.a_btn_tj{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -586px;
}
.a_btn_tj:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -494px;
}
.a_btn_cz{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1440px;
	margin-left:10px;
	display:inline
}
.a_btn_cz:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -1358px;
}


.btn{
	width:121px;
	height:39px;
	display:block;
}
.btn input{
	width:121px;
	height:39px;
	background:none;
	border:none;
	cursor:pointer
}
.btn_tj{
	background:none;
	border:none; 
	float:left;
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -587px;
}
.btn_tj:hover{
		background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -495px;

}

.btn_check{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -780px;
	height:39px;
	margin-top:20px;
}
.btn_check:hover{
	background:url(http://qudao.weiboyi.com/img/btn.gif) no-repeat 0px -689px;
}
.index_or_modify{
	padding:0 4px 0 4px;
	background:#fffbe0;
	border:1px solid #fdbf90;
	display:block;
	width:70px;
}

.index_or_modify img{
    vertical-align:1px;
	margin-left:3px;	
}


.index_or_modify:hover{
	border:1px solid #F90;
	background:#fffbe0;
	border:1px solid #fdbf90;
	padding:0 4px 0 4px;
}





.notice_one{
	position:absolute;
	width:264px;
	height:auto;
	border:1px solid #D3D3D3;
	border-bottom:none;
	background:#fff;
	right:0px;
	top: 640px;
}

.notice_top{
	width:262px;
	height:26px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background:url(http://qudao.weiboyi.com/img/notice_bj.jpg) repeat-x;
}

.notice_top_left{
	width:68px;
	height:25px;
	line-height:25px;
	text-align:center;
	background:url(http://qudao.weiboyi.com/img/line-right.jpg) no-repeat right;
}

.notice_top_left a{
	font-size:14px;
	font-weight:bold;
	color:#F00;
}
	
.notice_top_right{
	width:194px;
	height:25px;
}

.notice_top_right img{
	display:block;
	padding-top:7px;
	padding-right:3px;
	float:right;
	width:24px;
	height:12px;
}

.notice_nr{
	margin-top:16px;
	width:251px;
	height:auto;
	padding-bottom:8px;
	line-height:24px;
	padding-left:13px;
}

.notice_nr ul li{
	background:url(http://qudao.weiboyi.com/img/gg.jpg) no-repeat center left;
	padding-left:9px;
}

.notice_nr ul li a{
	border-bottom:1px dashed #999;
}

.notice_bottom{
	width:264px;
	height:27px;
	background-color:#F8F8F8;
	border-top:1px solid #DEDEDE;
	border-bottom:1px solid #A6C5DA;
	background:url(http://qudao.weiboyi.com/img/xia.jpg) no-repeat 126px 10px;
}








.xs_marger{
	padding-top:2px;
	position:absolute;
	width:182px;
	background:url(http://qudao.weiboyi.com/img/hg.png) no-repeat;
	padding-right:3px;
	padding-bottom:13px;
	left: 957px;
	top: 240px;
	z-index:9999;
}
.xs_marger a{
	overflow:hidden;
	display:block;
	margin-left:1px;
	margin-right:1px;
	clear:both;
	width:100%
}

.xs_marger span{
    display:block;
    height:30px;
    line-height:30px;
	cursor:pointer;
}

.xs_marger  a:hover{
	color:#333;
	z-index:9999;
	height:30px;
	background:url(http://qudao.weiboyi.com/img/lan_bj.jpg) no-repeat right;
}

.xs_marger .left_span{
    float:left;
	width:31px;
}

.xs_marger .right_span{
	width:165px;
	float:left;
	padding-left:8px;
	overflow:hidden
}
.xs_marger .icon_head{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 9px -8px;
}
.xs_marger  a:hover .icon_head{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 9px -232px;
}
.xs_marger .icon_qq{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 8px -49px;
}
.xs_marger  a:hover .icon_qq{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 9px -297px;
}
.xs_marger .icon_cell{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 7px -91px;
}
.xs_marger  a:hover .icon_cell{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 8px -433px;
}
.xs_marger .icon_phone{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 8px -132px;
}
.xs_marger  a:hover .icon_phone{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 9px -367px;
}

.xs_marger .icon_mail{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 9px -173px;
}
.xs_marger  a:hover .icon_mail{
	background:url(http://qudao.weiboyi.com/img/contact.gif) no-repeat 10px -492px;
}



.xs_marger ul a:hover .span_icon{
	color:#fff;
	z-index:9999;
	height:30px;
	background:url(http://qudao.weiboyi.com/img/qq_10.jpg) no-repeat;
}

.lanlan{
	color:#F30;
	height:30px;
}

.xs_marger .lanlan:hover{
	color:#333;
}

.xs_marger ul a{
	display:block;
	float:left;
	width:178px;
	height:30px;
}




.attention{
	width:239px;
	background:url(http://qudao.weiboyi.com/img/attention_bot.gif) no-repeat bottom;
	padding-bottom:4px;
	left:4000px;
	z-index:9999999999;
	visibility:visible;
	word-wrap: break-word;
	word-break:break-all;
	position:absolute;
	top:20px;
	}
.attention_top{
	background:url(http://qudao.weiboyi.com/img/attention_top.gif) no-repeat bottom right;
	vertical-align:bottom;
	height:13px;
}
.attention_box{
	vertical-align:top;
	padding:12px 18px 10px 18px;
	overflow:hidden;
	border-left:1px solid #aba5a5;
	border-right:1px solid #aba5a5;
	background:#fffbe0
}
.attention_box_aboutactive{
		padding:0px 0px 3px 0px;
         background:#fffbe0;
		width:265px;
		

	}
.attention_box_aboutactive td{
	border:none;
	border-top:1px dashed #fae5a3
	}
.attention_box .close{
	float:right;
	width:30px;
	text-align:center;
	margin-bottom:6px;
	font-size:12px;
	color:#666;
	font-family:Microsoft YaHei;
	margin-right:3px;
	display:inline;
	}

.attention_box p{
	color:#F00;
	font-size:16px;
	line-height:18px;
	line-height:22px;
	font-family:Microsoft YaHei;
}
.attention_box_input{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/attention_btn.jpg) no-repeat;
	height:24px;
	width:67px;
	color:#fff;
	float:right;
	font-size:12px;
	line-height:24px;
	margin-top:9px;
	cursor:pointer;
}


.attention1{
	width:239px;
	background:url(http://qudao.weiboyi.com/img/attention_bot.gif) no-repeat bottom;
	padding-bottom:4px;
	position:absolute;
	left:330px;
	z-index:9999999999;
	top:434px;
	left:464px;
	visibility:visible;
	}
.attention1_top{
	background:url(http://qudao.weiboyi.com/img/attention_top.gif) no-repeat bottom right;
	vertical-align:bottom;
	height:13px;
}
.attention1_box{
	background:url(http://qudao.weiboyi.com/img/attention_mid.gif) repeat-y left;
	vertical-align:top;
	padding:12px 18px 10px 18px;
	overflow:hidden
}
.attention1_box p{
	color:#F00;
	font-size:16px;
	line-height:18px;
	line-height:22px;
	font-family:Microsoft YaHei;
}
.attention1_box_input{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/attention_btn.jpg) no-repeat;
	height:24px;
	width:67px;
	color:#fff;
	float:right;
	font-size:12px;
	line-height:24px;
	margin-top:9px;
	cursor:pointer;
}




.judan{
	width:266px;
	z-index:9999;
	position:absolute;
	right:510px;
	top: 269px;
	z-index:99999999;
}

.ju_shang{
	width:266px;
	height:1px;
	background:url(http://qudao.weiboyi.com/img/jd_top.png) no-repeat;
	overflow:hidden;
}

.yuanyin{
	width:267px;
	height:auto;
	clear:both;
	color:#515050;
	background:#FFF;
	padding-bottom:17px;
	background:url(http://qudao.weiboyi.com/img/aj.gif) no-repeat top;
	padding-top:15px;
}

.yuanyin_inner{
	width:255px;
	border:1px solid #adabac;
	border-top:none;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:5px
	}



.judan1{
	width:266px;
	z-index:9999;
	position:absolute;
	right:1229px;
	top: 286px;
	z-index:99999999;
}

.ju_shang1{
	width:266px;
	height:1px;
	background:url(http://qudao.weiboyi.com/img/jd_top.png) no-repeat;
	overflow:hidden;
}

.yuanyin1{
	width:267px;
	height:auto;
	clear:both;
	color:#515050;
	background:#FFF;
	padding-bottom:17px;
	background:url(http://qudao.weiboyi.com/img/aj1.gif) no-repeat bottom;
	padding-top:15px;
}

.yuanyin_inner1{
	width:255px;
	border:1px solid #adabac;
	border-bottom:none;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:5px
}



















.acccount_top{
	height:38px;
	width:1172px;
	padding:0 14px 0 14px;
	background:url(http://qudao.weiboyi.com/img/list_bj.jpg) repeat-x;
}

.auu_zz{
	width:1200px;
	border:1px solid #95CCF3;
	border-top:none;
	padding:0 9px 20px 9px;
    min-height:500px;
   _height:expression(this.scrollHeight <500 ? "500px" : "auto");
}









.login_header{
	width:932px;
	height:124px;
	margin:0 auto;
}

.login_logo{
	width:541px;
	height:65px;
	padding-top:59px;
	padding-left:3px;
}

.login_help{
	width:253px;
	height:55px;
	padding-top:69px;
	font-family:Microsoft YaHei;
	text-align:right;
}

.login_help a{
	color:#98A5AD;
	font-size:14px;
}
.login_help a:hover{
	text-decoration:underline;
	color:#F60;
}

.login_main{
	width:932px;
	height:468px;
	margin:0 auto
}


.login_main_left{
	width:382px;
	height:348px;
	padding-left:69px;
	padding-top:76px;
}

.login_main_right{
	width:453px;
	height:372px;
	padding-top:46px;
	padding-left:28px;
}

.login_an1{
	width:127px;
	height:39px;
}

.bozhu{
	display:block;
	font-size:18px;
	font-family:Microsoft YaHei;
	width:260px;
	height:39px;
	background:url(http://qudao.weiboyi.com/img/bozhu.jpg) no-repeat;
	text-align:center;
	line-height:39px;
	color:#fff;
}

.bozhu a{
	color:#fff;
}

.bz a{
	color:#666;
}

.bz{
	display:block;
	color:#666;
	font-size:18px;
	font-family:Microsoft YaHei;
	width:133px;
	height:39px;
	background:url(http://qudao.weiboyi.com/img/anniu2.jpg) no-repeat;
	text-align:center;
	line-height:39px;
	
}

.login_an2{
	width:133px;
	height:39px;
}
.login_divinput {
	background: url(http://qudao.weiboyi.com/img/text.jpg) no-repeat 0px 0px;
	width: 274px;
	height: 40px;
	margin-top: 18px;
	line-height: 40px;
	overflow: hidden;
}

.login_tt {
	height: 39px;
	width: 254px;
	vertical-align: middle;
	line-height: 40px;
	border: none;
	background: none;
	padding-left: 6px;
	font-family: "寰蒋闆呴粦";
	color:#969B9F;
	font-size: 18px;
	padding-left:6px;
}

.login_ttt {
	width: 124px;
	height: 40px;
	background: none;
	border: none;
	background: url(http://qudao.weiboyi.com/img/ttt.jpg) no-repeat;
	line-height: 40px;
		font-family:Microsoft YaHei;
	font-size: 18px;
	color: #969B9F;
	display-right: 6px;
	overflow: hidden;
	padding-left:6px
}

.login_zm{
	width:73px;
	height:40px;
}

.login_huan{
	height:18px;
	width:48px;
	padding-top:22px;
	padding-left:2px;
		font-family:Microsoft YaHei;
}

.login_huan a{
	color:#9FA6AC;
}

.login_huan a:hover{
	text-decoration:underline;
	color:#F00;
}

.kk a{
	color:#9FA6AC;
}

.kk a:hover{
	text-decoration:underline;
	color:#f00;
}

.kk span{
	color:#9FA6AC;
}

login_.fxk{
	height:40px;
	line-height:40px;
}
login_.fxk a{
	color:#9FA6AC;
	padding-left:4px;
}

.login_fxk a:hover{
	text-decoration:underline;
	color:#F00;

}

.fxk span{
	color:#9FA6AC;
}

.login_anniu{
	width:96px;
	height:40px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/login_btn.jpg) no-repeat;
	color:#fff;
		font-family:Microsoft YaHei;
	padding-right:24px;
}

.login_anniu:hover{
	width:96px;
	height:40px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/login_btn.jpg) no-repeat 0px -60px;
	color:#fff;
		font-family:Microsoft YaHei;
	padding-right:24px;
}

.zc_anniu{
	 width:96px;
	 height:40px;
	 margin-top:20px;
	 background:none;
	 border:none;
	 background:url(http://qudao.weiboyi.com/img/login_btn.jpg) no-repeat 0px -109px;
	 color:#fff;
	 font-size:20px;
	 margin-left:5px; 
}

.zc_anniu:hover{
	width:96px;
	height:40px;
	margin-top:20px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/login_btn.jpg) no-repeat 0px -156px;
	color:#fff;
	font-size:20px;
}

.login_footer{
	width:932px;
	height:20px;
	margin:0 auto;
	text-align:center;
	color:#BBBFC2;
	padding-top:90px;
		font-family:Microsoft YaHei;
}


   .tab_item{
	   background:url(http://qudao.weiboyi.com/img/bj_top_zhi.jpg) no-repeat bottom left;
	   height:57px;
	   }
	.tab_item ul li{
		float:left;
	}
	.tab_item ul li a{
		display:block;
		height:33px;
		line-height:33px;
		font-size:16px;
		text-align:center;

	}
  .tab_item ul li .a1{
		width:186px;
		background:url(http://qudao.weiboyi.com/img/bb-1.jpg) no-repeat;
	}
	.tab_item ul li .a2{
		width:186px;
		background:url(http://qudao.weiboyi.com/img/aa-2.jpg) no-repeat;
	}
.tab_item ul li .a1_hover{
		background:url(http://qudao.weiboyi.com/img/aa-1.jpg) no-repeat;
		color:#2276b6;
		width:186px;
		}
.tab_item ul li .a2_hover{
		background:url(http://qudao.weiboyi.com/img/bb-22.jpg) no-repeat;
		color:#2276b6;
		width:186px;
		}

    .rule{
		height:auto;
			font-family:Microsoft YaHei;
		}
    .rule h1{
		font-size:20px;
		text-align:center;
		font-weight:normal;
		height:50px;
		line-height:50px;
		}
	.rule p{
		line-height:21px;
		color:#333;
		font-size:12px;
		}


.a_link:hover{
	text-decoration:underline;
	color:#F60;
	}
	

	







.re_mail .close{
	background:#F0F0F0;
	float:right;
	display:block;
	width:15px;
	text-align:center;
	height:15px;
	}
.re_mail_box{
	border:3px solid #eeecec;
	width:362px;
	margin:10px auto 10px auto; 
	z-index:999999; 
	background:#fff;
    padding:0px;
	}
.re_mail_box_in{
	 border:3px solid #ff6600;
	 padding:2px;
	 padding-bottom:10px;
	}
.re_mail_box .tit{
	height:40px;
	font-size:18px;
		font-family:Microsoft YaHei;
	color:#ff6600;
	line-height:40px;
	padding-left:10px;
	padding-right:10px;
	clear:both;
	}
.re_mail_box .tit h2{
	    	font-family:Microsoft YaHei;
	  	background:url(http://qudao.weiboyi.com/img/duihao.jpg) no-repeat left center;
		font-size:18px;
		padding-left:40px;
		font-weight:normal

	}
.re_mail_box .tit img{
	vertical-align:middle;
	margin-right:5px;
	}
.re_mail_box .btn_qr{
	margin-top:6px;
	cursor:pointer;
	background:none; 
	border:none; 
	background:url(http://qudao.weiboyi.com/img/mima_btn.jpg) no-repeat; 
	width:82px;
	height:30px;
		font-family:Microsoft YaHei;
	font-size:16px;
	color:#fff;
	line-height:30px;
	margin-top:15px;
	}
	
.re_mail .input_text{
	border:1px solid #dddddd;
	line-height:22px;
	height:22px;
	padding-left:3px;
	}	
.re_send_mail{
	clear:both;
	padding-left:60px
	}
	
	

.re_phone{
	width:473px;
	height:auto; 
	background:#f3f3f3; 
	border:1px solid #f27b05;
	padding-bottom:10px; 
	margin:50px auto
	}
.re_phone p.tishi{
	text-align:center;
	line-height:30px;
	}
.re_phone p.p_input{
	height:40px;
	line-height:40px;
	text-align:center
	}
.re_phone p.p_input input{
	background:#fff;
	width:171px;
	height:28px; 
	line-height:28px;
	border:1px solid #e3e3e3;
	vertical-align:middle;
	}
.phone_yzbox{
	width:573px;
	height:auto; 
	padding-bottom:10px;
	margin-bottom:20px;
	font-size:12px;
	padding-left:20px;
	color:#333;
	margin:0 auto
	}
.phone_yzbox .tishi{
	line-height:40px;
	}
.phone_yzbox .p1{
		line-height:40px;

	}
.phone_yzbox .p1 input{
	vertical-align:middle;
	}
	.phone_yzbox .btn_qzm{
	background:none;
	border:none;
	cursor:pointer;
	background:url(/img/zh_btn1.jpg) no-repeat 0px -82px;
	width:95px;
	height:30px;
	font-family:Microsoft Yahei;
	font-size:15px;
	line-height:30px;
	color:#666
	}
.phone_yzbox .btn_qzm:hover{
	background:url(/img/zh_btn1.jpg) no-repeat 0px -125px;
	}
.phone_yzbox .btn_qzm_enable{
	background:none;
	border:none;
	background:url(/img/zh_btn1.jpg) no-repeat 0px -167px;
	width:95px;
	height:30px;
	font-family:Microsoft Yahei;
	font-size:15px;
	color:#999
	}
.phone_yzbox .p2{
	margin-top:8px;
	}
.phone_yzbox .p3{
	margin-left:73px;
	color:#F00
	}
.phone_yzbox .p4{
	margin-top:5px;
	margin-right:30px;
	}
.phone_yzbox .p4 a{
	
	}
.phone_yzbox .input_txt{
	background:#fff;
	width:171px; 
	height:28px; 
	line-height:28px;
	border:1px solid #e3e3e3;
	}
.phone_yzbox .input_btn{
	cursor:pointer;
	background:none; 
	border:none; 
	background:url(/img/zh_btn1.jpg) no-repeat; 
	width:66px;
	height:30px;
	color:#fff;
	margin-left:120px;
	}
.phone_yzbox .input_btn:hover{
	background:url(/img/zh_btn1.jpg) no-repeat -68px 0px; 
	}
.phone_yzbox .input_btn_qr{
	background:url(/img/zh_btn1.jpg) no-repeat 0px -32px;
	}
.phone_yzbox .input_btn_qr:hover{
	background:url(/img/zh_btn1.jpg) no-repeat -68px -32px; 
	}



.idea{
	margin:1px;
	width:410px;
	overflow:hidden;
	font-size:12px;
	border:3px solid #c7c8c8;
	padding-left:10px;
	position:absolute;
	z-index:99999999;
	left:35%;
	background:url(http://qudao.weiboyi.com/img/idea_bg.jpg) no-repeat 20px -352px #fff;
	padding-bottom:8px;
	top:40%;
	height:auto;

	}
.idea_in{
	padding-left:0px;
	margin-top:48px;
	
	margin-right:10px;
	margin-left:0px;
	width:auto;
	height:auto;
	background:none;
	}
.idea textarea{
	border:none;
	background:none;
	width:384px;
	height:122px;
	color:#999;
	color:12px;
    resize:none;
	margin-top:0px!important;
	border:1px solid #dddddd;
	padding:3px;
	
	}
.idea .close{
	width:20px;
	height:20px;
	background:#dddddd;
	line-height:20px;
	text-align:center;
	float:right;
	font-size:18px;
	color:#fff;
	}
.idea p{
	margin-top:8px;
	line-height:29px;
	color:#999
	}
.idea p strong{
	color:#F00;
	font-weight:normal;
	}
.idea input{
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/idea_in.jpg) no-repeat #fff 0px 0px;
	width:61px;
	height:29px;
	cursor:pointer;
}

.idea input.input1{
	background-position:-208px 0px;
}

.idea input.input1:hover{
	background-position:-137px 0px;
}

.idea input.input2{
	background-position:-67px 0px;
	margin-left:5px;
	margin-right:10px
}

.idea input.input2:hover{
	background-position:0px 0px;
}



/*已流订单数，累计损失金额*/
.yiliu_all{
	 margin-top:3px;
	 float:left;
	 line-height:24px;
	 text-align:center;
	 padding-right:5px;
}

.yiliu{
	 float:left;
	 background:url(http://qudao.weiboyi.com/img/hbj_z.jpg) repeat-x;
	 padding-left:8px;
	 padding-right:5px;
	 color:#fff;
}

.yiliu a{
	color:#FF3;
}

.yiliu_pic{
	display:block;
	float:left;
}

/*已流订单数，累计损失金额*/
/*APP START*/
.ce_main{
	position:absolute;
	z-index:9999999;
	width:296px;
	height:auto;
	left:213px;
	top:706px;
}

ce_main1{
	position:absolute; 
	z-index:9999999;
	width:296px;
	height:auto; 
	left:340px;
    top:403px;
}


ce_main2{
	position:absolute; 
	z-index:9999999;
	width:296px;
	height:auto; 
	left:740px;
    top:503px;
}

.ce_main_in{
	height:24px;
    background:#fceec7;
	width:272px;
	border:1px solid #d5d6da;
	border-top:none;
	border-bottom:none;
	padding-left:22px;
}


.ce_main_in span{
	font-size:14px;
	font-family:'微软雅黑','宋体';
}

.ce_main_two{
	height:auto;
	padding-bottom:10px;
	width:272px;
	background:#fffbe0;
	border:1px solid #d5d6da;
	border-top:none;
	border-bottom:none;
	padding-top:8px;
	padding-left:22px;
}


.ce_main_p {
    border-bottom: 1px dashed #FFCC99;
    display: block;
    font-family: '微软雅黑','宋体';
    line-height: 22px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    width: 255px;
    text-align: left;
}

.ce_main_p1{
	font-family:'微软雅黑','宋体';
	line-height:22px;
	width:255px;
	display:block;
	border-bottom:1px dashed #FC9;
	padding-bottom:5px;
	margin-bottom:8px;
	text-align:left;
}

.ce_btn{
    background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/tj.jpg) no-repeat;
	width:41px; 
    height:22px;
	cursor:pointer;
	margin-right:3px;
}

.ce_btn1{
	height:20px;
	width:255px;
	text-align:right;
}
.ce_btn2{
	height:24px;
	width:255px;
	text-align:center;
}

.ce_btn2 .ds{
	width:96px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/n5.gif) no-repeat;
	cursor:pointer;
}

.ce_btn2 .ds1{
	width:96px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/n6.gif) no-repeat;
	cursor:pointer;
}

.ce_btn1{
	width:40px;
	height:24px;
	margin-left:106px;
	vertical-align:middle;
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/n7.gif) no-repeat;
	cursor:pointer;
}

.ce_btn2 .jihuo_btn{
	width:96px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/n2.gif) no-repeat;
	cursor:pointer;
}

.ce_btn2 input{
	width:96px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/n1.gif) no-repeat;
	cursor:pointer;
}

.ce_img_top{
	display:block;
	height:5px;
}

.ce_img_bottom{
	display:block;
	height:7px;
}

.ce_gb{
	float:right;
	padding-right:20px;
}

.ce_gb a{
	color:#999;
}

.ce_box{
	vertical-align:-2px;
	margin-right:3px;
}
/*APP END*/

/*全部订单页面弹出框*/
.hgyy{
	text-align:center;
	border-bottom:1px dashed #ccc;
	height:30px;
	width:273px;
}

.zhijianchuli{
	height:auto;
	padding-bottom:10px;
	width:285px;
	background:#fffbe0;
	border:1px solid #d5d6da;
	border-top:none;
	border-bottom:none;
	padding-top:8px;
	padding-left:9px;
}

.ce_btn_zhijian{
	height:24px;
	text-align:center;
	margin:10px 0;
}

.ty_btn{
	width:81px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/aer.jpg) no-repeat;
	cursor:pointer;
}

.ty_btn1{
	width:81px;
	height:24px;
	margin-left:5px;
	background:none;
	border:none;
    background:url(http://qudao.weiboyi.com/img/ss.jpg) no-repeat;
	cursor:pointer;
	margin-right:10px;
}

.zhijian_top{
	height:28px;
    background:#fceec7;
	width:285px;
	border:1px solid #d5d6da;
	border-top:none;
	border-bottom:none;
	padding-left:9px;
}

.zhijian_top span{
	font-size:14px;
}

.none_one{
	line-height:22px;
	font-size:12px;
}

.none_one li{
	background:url(http://qudao.weiboyi.com/img/diandian.jpg) no-repeat 4px 8px;
	padding-left:11px;
}

.xiangq{
	font-size:14px;
	text-align:center;
	color:#06F;

}

.zhijian_main{
	width:296px;
	height:auto;
	font-family:'微软雅黑','宋体';
}


.buhege{
	font-size:14px;
	color:#333;
	margin-bottom:5px;
	margin:10px 0;

}

.jietu{
	height:22px;
	line-height:22px;
	width:127px;
	border:none;
	background:#fff;
	border:1px solid #ccc;
	padding-left:3px;
	font-family:'微软雅黑','宋体';
	font-size:12px;
}

.shensu_btn{
    width:46px;
    height:27px;
	background:none;
	border:none;
	cursor:pointer;
	margin-right:22px;
	margin-top:20px;
	background:url(http://qudao.weiboyi.com/img/tijiao.png) no-repeat;
}

.tip_f00{
	color:#f00;
}

.up_btn{
	vertical-align:middle;
	cursor:pointer;
	background:none;
	border:none;
	background:url(http://qudao.weiboyi.com/img/liulan.jpg) no-repeat;
	width:47px;
	height:27px;
}

.sel_kk{
	width:132px;
	height:22px;
	line-height:22px;
	border:none;
	background:#fff;
	border:1px solid #ccc;
	font-family:'微软雅黑','宋体';
	font-size:12px;
}

.bas_kk{
	height:54px;
	padding:3px;
	width:174px;
	border:none;
	background:#fff;
	margin-bottom:5px;
	border:1px solid #ccc;
	font-family:'微软雅黑','宋体';
	font-size:12px;
}

.bas_kk1{
	height:54px;
	padding:3px;
	width:260px;
	border:none;
	background:#fff;
	margin-bottom:5px;
	border:1px solid #ccc;
	font-size:12px;
	font-family:'微软雅黑','宋体';
}

.xiangq:hover{
	text-decoration:underline;
}

.shensu1{
	margin-bottom:10px;
}

.ce_gb1{
	float:right;
	padding-right:10px;
}

.ce_gb1 a{
	color:#999;
}

.shensu2{
	display:none;
	margin-bottom:10px;
}

.zj_qr_btn{
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/qd_btn.jpg) no-repeat;
	margin-right:16px;
	width:46px; 
	height:27px;
	cursor:pointer;
}
/*全部订单页面弹出框*/


/*图片上传*/
.up_btn{
	width:64px;
	height:24px;
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/cc.jpg) no-repeat;
	cursor:pointer;
}

.guanbi{
	width:24px;
	height:24px;
	border:none;
	background:none;
	background:url(http://qudao.weiboyi.com/img/xx.jpg) no-repeat;
	cursor:pointer;
	vertical-align:middle;
	float:left;
}

.url_pic{
	float:left;
	height:22px;
	line-height:22px;
	padding:0 2px;
	width:149px;
	overflow:hidden;
	background:#f6f6f6;
	border:1px solid #dcdcdb;
	margin-right:3px;
}

.col_btn{
	float:left;
	display:block;
	width:24px;
	height:24px;
}
	
/*图片上传*/